/* fonte externa */
@font-face {
    font-family: 'Terror';
    src: url('../Fontes/GRAPHICPSYCHOPATHY.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
/* config do doc */
* {
    margin: 0;
    padding: 0;
    width: auto;
    height: auto;
    box-sizing: border-box;
    font-family: 'Inconsolata', sans-serif;
}
/* config do body */
body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: black;
    background-size: contain;
    background-repeat: no-repeat;
}

/* config do cabeçalho */
header {
    background-color: rgb(147, 19, 20);
    position: absolute;
    top: 0;
    width: 100%;
    height: 80px;
    display: flex;
}

/* config do texto do box da logo */ 
.titulo {
    line-height: 90px;
    margin-left: 50px;
    font-family: 'Terror';
    width: 45%;
    font-size: 60px ;
    color: black;
}

/* config do box do menu*/
.menu {
    position: absolute;
    line-height: 90px;
    width: 55%;
    margin-left: 550px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: center;
}

/* config do texto do menu */
.menu1 {
    color: black;
    font-family: 'Inconsolata', sans-serif; 
    font-size: 20px;
    font-weight: 700;
}

/* mudança de cor + tamanho + subinhado no menu */
.menu1:hover {
    font-size: 24px;
    color: white;
    text-decoration: underline;
}

.container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 2000px;
    flex-wrap: wrap;
    z-index: 1;
}

.container .card {
    width: 1300px;
    height: 620px;
    margin: 55px 10px 10px 10px;
    box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
    border-radius: 20px;
    background: rgba(255, 255, 255, 0.1);
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur (15px);
}

.container .card .content {
    display: grid;
    height: 80vh;
    grid-template-columns: 1fr 1fr;
}

.container .card .content .coluna1 {
    width: 400px;
    padding: 10px;
    margin: 100px 0px 50px 130px;
    text-align: center;
    opacity: 100;
}

.container .card .content .coluna1 a {
    position: relative;
    display: inline-block;
    padding: 8px 20px;
    margin-top: 15px;
    background: rgb(147, 19, 20);
    color: white;
    text-decoration: none;
    border-radius: 20px;
    font-weight: 500;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

.container .card .content .coluna1 a:hover {
    background: white;
    color: black;
}

.container .card .content .coluna1 .imagemMatinta {
    width: 80%;
    height: 70%;
    align-self: center;
}

.container .card .content .coluna1 .imagemTalk {
    width: 200%;
    align-self: center;
}

.container .card .content .coluna1 p {
    font-size: 16px;
    color: #fff;
    line-height: 1.3;
    margin-top: 20px;
}

.container .card .content .coluna1 h1 {
    font-family: 'Inconsolata', sans-serif; 
    font-size: 50px;
    color: white;
    text-align: center;
    margin-bottom: 35px;
    margin-top: 100px;
}

.container .card .content .coluna2 {
    width: 700px;
    padding: 10px;
    margin: 0px 100px 50px 50px;
    text-align: justify;
    opacity: 100;
}

.container .card .content .coluna2 h1 {
    font-family: 'Inconsolata', sans-serif; 
    font-size: 30px;
    color: white;
    text-align: center;
    margin-bottom: 15px;
    margin-top: 30px;
}

.container .card .content .coluna2 h2 {
    font-size: 20px;
    font-weight: 800;
    color: white;
    z-index: 1;
}

.container .card .content .coluna2 p {
    font-size: 13.5px;
    color: #fff;
    line-height: 1.3;
}

.container .card .content .coluna3 {
    width: 800px;
    padding: 10px;
    margin: 0px 20px 0px 160px;
    text-align: justify;
    opacity: 100;
}

.container .card .content .coluna3 h1 {
    font-family: 'Inconsolata', sans-serif; 
    font-size: 35px;
    color: white;
    text-align: center;
    margin-bottom: 20px;
    margin-top: 20px;
}

.container .card .content .coluna3 h2 {
    font-size: 25px;
    font-weight: 800;
    color: white;
    z-index: 1;
}

.container .card .content .coluna3 p {
    font-size: 14px;
    color: #fff;
    line-height: 1.5;
}

.container .card .content .coluna3 ul li {
    font-size: 14px;
    color: #fff;
    line-height: 1.5;
}

.container .card .content .coluna4 {
    width: 400px;
    padding: 10px;
    margin: 150px 150px 0px 40px;
    text-align: center;
    opacity: 100;
}

.container .card .content .coluna4 h2 {
    font-size: 30px;
    font-weight: 800;
    color: white;
    z-index: 1;
}

.container .card .content .coluna4 ul li {
    font-size: 18px;
    color: #fff;
}

.container .card .contentUnico {
    display: flex;
    height: 90vh;
    width: 850px;
    padding: 10px;
    margin: 0;
    text-align: center;
    opacity: 100;
}

.container .card .contentUnico .unico a {
    position: relative;
    display: inline-block;
    padding: 8px 20px;
    margin-top: 15px;
    background: rgb(147, 19, 20);
    color: white;
    text-decoration: none;
    border-radius: 20px;
    font-weight: 500;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

.container .card .contentUnico .unico a:hover {
    background: white;
    color: black;
}

.container .card .contentUnico .unico .imagemTalk {
    width: 50%;
    align-self: center;
}

.container .card .contentUnico .unico p {
    font-size: 18px;
    color: #fff;
    line-height: 1.3;
    margin-top: 20px;
}

.container .card .contentUnico .unico h1 {
    font-family: 'Inconsolata', sans-serif; 
    font-size: 40px;
    color: white;
    text-align: center;
    margin-bottom: 35px;
    margin-top: 50px;
}

.container .card .contentUnico .unico h2 {
    font-size: 18px;
    font-weight: 800;
    color: white;
    z-index: 1;
}

.container .card .contentUnico .unico table {
    width: 400px;
    margin: 30px 0px 0px 200px;
}

/* Config rodapé */
footer {
    position: absolute;
    bottom: 0;
    background-color: rgb(147, 19, 20);
    width: 100vw;
    height: 50px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-evenly;
    vertical-align: center;
}

/* Config informações de copyright */
.copy {
    font-family: 'Inconsolata', sans-serif;
    color: black;
    font-size: 14px;
    font-weight: 700;
    text-align: center;
    margin: 25px 50px 0px 50px;
}

/* Config ícones redes sociais */
.icons {
    margin: 5px 0px 0px 0px;
    padding: 0% 50px;
}

/* Config ícone github */
.github {
    width: 50px;
}
/* Config ícone linkedin */
.linkedin {
    width: 50px;
}
/* Config do hover dos ícones */
.githubbox img.githubhover {
    display: none;
}

.githubbox:hover img.github {
    display: none;
}

.githubbox:hover img.githubhover {
    display: inherit;
    width: 50px;
}

.linkedinbox img.linkedinhover {
    display: none;
}

.linkedinbox:hover img.linkedin {
    display: none;
}

.linkedinbox:hover img.linkedinhover {
    display: inherit;
    width: 50px;
}
