/* fonte externa */
@font-face {
    font-family: 'Terror';
    src: url('../Fontes/GRAPHICPSYCHOPATHY.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}


/* Config do body no geral */
body {
    width: 100vw;
    height: 100vh;
    margin: 0%;
    padding: 0%;
    background-color: black;
}

/* Config do h1 */
h1 {
    font-family: 'Inconsolata', sans-serif;
    font-size: 40px;
    color: rgb(147, 19, 20);
    text-align: center;
}

/* config do cabeçalho */
header {
    background-color: rgb(147, 19, 20);
    position: absolute;
    top: 0;
    width: 100%;
    height: 100px;
    display: flex;
}

/* config do texto do box da logo */ 
.titulo {
    line-height: 90px;
    margin-left: 50px;
    font-family: 'Terror';
    width: 45%;
    font-size: 60px ;
    color: black;
}

/* config do box do menu*/
.menu {
    position: absolute;
    line-height: 90px;
    width: 55%;
    margin-left: 550px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: center;
}

/* config do texto do menu */
.menu1 {
    color: black;
    font-family: 'Inconsolata', sans-serif; 
    font-size: 20px;
    font-weight: 700;
}

/* mudança de cor + tamanho + subinhado no menu */
.menu1:hover {
    font-size: 24px;
    color: white;
    text-decoration: underline;
}

/* Config da imagem + espaço da home */
.home {
    height: 100vh;
    background-image: url(https://raw.githubusercontent.com/camimonteiro/Game_SaidaEscarlate/main/Images/floresta.gif);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 80%;
}

/* Config do texto da home */ 
.hometext {
    text-align: center;
    font-family: 'Inconsolata', sans-serif;
    font-size: 20px;
    color: black;
}

/* Config do botão de jogar */
.bt {
    background-color:rgb(147, 19, 20);
    align-items: center;
    font-family: 'Inconsolata', sans-serif;
    font-weight: bold;
    font-size: 14px;
    color: rgb(0, 0, 0);
    padding: 6px 10px;
    border: 1px inset #505050;
    border-radius: 5px;
    width: 85px;
    height: 30px;
    display: inline-block;
    cursor: pointer;
    transition: 0.4s;
}

/* aumento da fonte e mudança de cor do botão */
.bt:hover {
    color: rgb(255, 255, 255);
    font-size: 16px;
}

/* Config rodapé */
footer {
    background-color: rgb(147, 19, 20);
    width: 100vw;
    height: 100px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-evenly;
    vertical-align: center;
}

/* Config informações de copyright */
.copy {
    font-family: 'Inconsolata', sans-serif;
    color: black;
    font-size: 14px;
    font-weight: 700;
    text-align: center;
    margin: 25px 50px 0px 50px;
}

/* Config ícones redes sociais */
.icons {
    margin: 5px 0px 0px 0px;
    padding: 0% 50px;
}

/* Config ícone github */
.github {
    width: 50px;
}
/* Config ícone linkedin */
.linkedin {
    width: 50px;
}
/* Config do hover dos ícones */
.githubbox img.githubhover {
    display: none;
}

.githubbox:hover img.github {
    display: none;
}

.githubbox:hover img.githubhover {
    display: inherit;
    width: 50px;
}

.linkedinbox img.linkedinhover {
    display: none;
}

.linkedinbox:hover img.linkedin {
    display: none;
}

.linkedinbox:hover img.linkedinhover {
    display: inherit;
    width: 50px;
}
