@font-face {
    font-family: 'Terror';
    src: url('../../../Pages_Menu/Fontes/GRAPHICPSYCHOPATHY.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
/* config do doc */
* {
    margin: 0;
    padding: 0;
    width: auto;
    height: auto;
    box-sizing: border-box;
    font-family: 'Inconsolata', sans-serif;
    color: black;
}
/* config do body */
body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: black;
    background-size: contain;
    background-repeat: no-repeat;
}

/* config do cabeçalho */
header {
    background-color: rgb(147, 19, 20);
    position: absolute;
    top: 0;
    width: 100%;
    height: 80px;
    display: flex;
    
}

/* config do texto do box da logo */ 
.nomejogo {
    width: 100%;
    line-height: 90px;
    text-align: center;
}

.titulo {
    font-family: 'Terror';
    font-size: 60px ;
    color: black;
}


.container {
    position: relative;
    display: flex;
    height: 600px;
    justify-content: center;
    align-items: center;
    max-width: 2000px;
    flex-wrap: wrap;
    z-index: 1;
}

.container .card {
    width: 1300px;
    height: 620px;
    margin: 0px 10px 10px 10px;
    box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
    border-radius: 20px;
    background: rgba(255, 255, 255, 0.1);
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur (15px);
}

.container .card .content {
    display: grid;
    height: 80vh;
    grid-template-columns: 1fr 1fr;
}

.container .card .content .coluna1 {
    width: 800px;
    height: 100%;
    padding: 10px;
    margin: 10px 20px 0px 50px;
    text-align: center;
    opacity: 100;
}

.container .card .content .coluna1 h1 {
    font-family: 'Terror'; 
    font-size: 40px;
    color: white;
    text-align: center;
    margin-bottom: 5px;
    margin-top: 5px;
}

.container .card .content .coluna1 h2 {
    font-family: 'Inconsolata', sans-serif; 
    font-size: 25px;
    color: white;
    text-align: left;
    margin-bottom: 5px;
    margin-top: 5px;
}

.container .card .content .coluna1 a {
    position: relative;
    display: inline-block;
    padding: 8px 20px;
    margin-top: 15px;
    background: rgb(147, 19, 20);
    color: white;
    text-decoration: none;
    border-radius: 20px;
    font-weight: 500;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

.container .card .content .coluna1 a:hover {
    background: white;
    color: black;
}

.container .card .content .coluna1 p {
    font-size: 14px;
    color: #fff;
    line-height: 1.5;
    text-align: justify;
}

.container .card .content .coluna2 {
    width:300px;
    height: 100%;
    padding: 10px;
    margin: 10px 0px 0px 0px;
    text-align: center;
    opacity: 100;
}

.container .card .content .coluna2 .bg {
    width: 150%;
    align-self: center;
    margin-top: 150px;
}

.container .card .content .coluna2 .bgEspecial {
    width: 130%;
    align-self: center;
    margin-top: 100px;
}

/* Config rodapé */
footer {
    position: absolute;
    bottom: 0;
    background-color: rgb(147, 19, 20);
    width: 100vw;
    height: 50px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-evenly;
    vertical-align: center;
}

/* Config informações de copyright */
.copy {
    font-family: 'Inconsolata', sans-serif;
    color: black;
    font-size: 14px;
    font-weight: 700;
    text-align: center;
    margin: 25px 50px 0px 50px;
}

/* Config ícones redes sociais */
.icons {
    margin: 5px 0px 0px 0px;
    padding: 0% 50px;
}

/* Config ícone github */
.github {
    width: 50px;
}
/* Config ícone linkedin */
.linkedin {
    width: 50px;
}
/* Config do hover dos ícones */
.githubbox img.githubhover {
    display: none;
}

.githubbox:hover img.github {
    display: none;
}

.githubbox:hover img.githubhover {
    display: inherit;
    width: 50px;
}

.linkedinbox img.linkedinhover {
    display: none;
}

.linkedinbox:hover img.linkedin {
    display: none;
}

.linkedinbox:hover img.linkedinhover {
    display: inherit;
    width: 50px;
}
